.editor-container {
  position: relative;
  height: 100%;
  border-right: 1px solid #ccc;
  padding: 2rem 0;
  box-sizing: border-box;

  .lines-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3.5rem;
    z-index: 0;
    background-color: #eee;    
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    width : 100%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    background-color: #eee;
    z-index:1;
  }


 .editor-inner {
  z-index: 1;
  display: flex;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  align-items: flex-start;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;

  .lines {
      width: 3.5rem;
      background-color: #eee;
      color: #aaa;
      padding: 0 1rem;
      text-align: right;
    }

    .text-editor {
      flex-grow: 1;
      padding: 0 2rem;
      width: 100%;
      resize: none;
      outline: none;
      font-size: 1rem;
    }

  }

}